@font-face {
  font-family: 'MyFont';
  src: url('./my-font.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'MyFont';
  font-size: 1.5rem;
}

ul li {
  padding: 0.5rem 0;
}

h1 {
  margin: 0;
  padding: 2rem;
  background-color: rgba(0,0,0,0.5);
  font-size: 10em;
  text-align: center;
}
